
<form data-toggle="validator">
        <div class="form-group">
            <div class="form-group row">
                <label for="title-input" class="col-2 col-form-label">Tytuł</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="{{termin.nazwa}}" id="title-input" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="description-input" class="col-2 col-form-label">Opis</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="{{termin.opis}}" id="description-input" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="contact-input" class="col-2 col-form-label">Dane kontaktowe</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="{{termin.email}}" id="contact-input" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="datetime-input" class="col-2 col-form-label">Data i czas rozpoczęcia</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="{{termin.data_pocz | date:'yyyy-MM-dd HH:mm'}}" id="datetime-input" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="2nd-datetime-input" class="col-2 col-form-label">Data i czas zakończenia</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="{{termin.data_kon | date:'yyyy-MM-dd HH:mm'}}" id="2nd-datetime-input" disabled>
                </div>
            </div>
        </div>

        <button onclick="location.href='/'" class="btn btn-default">Wróć</button>
        <button ng-click='deleteTermin()' class="btn btn-default">Usuń ten temin</button>
</form>


